.card-2{
  display: flex;
  height:30%;
  width:30%;
  flex-direction:column;
  margin: 2rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

 .title-card-2{
    position: absolute;
    top: 14rem;
    left: 1rem;
    bottom: 1rem;
    color: antiquewhite;
}

